@use '../settings/reset.scss';
@use '../settings/var.scss';

header {
  background-color: var.$corPrimaria;
  position: sticky;
  top: 0;
  left: 0;
  .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 0;
  }
}

.menu {
  display: flex;
  li {
      font-weight: bold;
      margin-left: 24px;
      a {
          color: var.$b1;
          text-decoration: none;
      }
  }
}